<div class="nav">
    <div class="titulo">
        <h1>Hispalia</h1>
        <h4>La ciudad de Sevilla</h4>
    </div>
    <div class="pages">
        <a href="#Sevilla">Sevilla</a>
        <a href="#semanasanta">Semana Santa</a>
        <input type="text" placeholder="Search..." />
        <a href="#feria">Feria</a>
        <a href="#futbol">Futbol</a>
    </div>
    <div class="user">
        <a href="notficaciones">Notificaciones</a>
        <a href="#profile">Profile</a>
    </div>
</div>


<style>
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f8f9fa;
    }

    .pages a, .user a, .titulo h1, .titulo h4 {
        margin: 0 10px;
        text-decoration: none;
        color: #007bff;
    }

    .pages input {
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ced4da;
    }  

</style>